@import "./node_modules/bootstrap/scss/bootstrap-flex.scss";

html, body {
  background-color: #f1f1f1;
}

.pull-right {
  @include pull-right;
}

.contents, .footer {
  margin-top: 20px;
}

.contents {
  padding-left: 0;
  padding-right: 0;

  > .row {
    background-color: #fff;
    margin-left: 0;
    margin-right: 0;

    > .col {
      height: 500px;
      padding-left: 0;
      padding-right: 0;
      overflow: scroll;

      & + .col {
        border-left: 1px solid #373a3c;
      }
    }
  }
}

.title {
  font-size: 18px;
  padding: 10px 10px 5px 10px;
}

.markdown-body {
  font-size: 16px;
  word-wrap: break-word;
  background-color: #fff;
  padding: 10px;

  > * > *:first-child {
    margin-top: 0 !important;
  }
  blockquote {
    color: #555;
    font-size: 1em;
    border-left: solid 4px #ddd;
    padding: .8em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0.8em;
    > *:first-child {
      margin-top: 0;
    }
    h1, h2, h3, h4, h5, h6 {
      color: #555;
    }
  }
  a {
    word-wrap: break-word;
    word-break: break-all;
    code {
      color: #337ab7;
    }
    &:target {
      background-color: #fff3b8;
      border-radius: 0.1em;
    }
  }
  hr {
    margin: 1em 0;
    border: 0;
    height: 2px;
    background-color: #ccc;
  }
  em {
    font-family: "Helvetica Neue", Helvetica, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, sans-serif;
    font-style: italic;
  }
  strong, b, ins {
    font-weight: 900;
  }
  del {
    text-decoration: line-through;
  }
  p {
    margin-bottom: 0;
    margin-top: 1.6em;
    font-size: 1em;
    line-height: 1.875;
    word-wrap: break-word;
  }
  img {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    margin: 0;
    max-width: 100%;
  }
  dl {
    margin: 1em 0;
    dd {
      margin-left: 2em;
    }
  }
  table {
    display: block;
    overflow: auto;
    margin: 1em 0;
    border-left: solid 1px #d9d9d9;
  }
  td, th {
    border-bottom: solid 1px #ccc;
    border-right: solid 1px #ccc;
    padding: 8px 10px;
    word-wrap: break-word;
  }
  thead td, th {
    font-weight: 900;
    background-color: #fff;
    border-top: solid 1px #d9d9d9;
  }
  tbody tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.03);
  }
  li p:first-child {
    margin: 0;
  }
  ol, ul {
    line-height: 1.7;
    margin-bottom: 1em;
    margin-top: 1em;
    padding-left: 1.5em;
  }
  ol > li {
    list-style-type: decimal;
  }
  li > {
    ol, ul {
      margin-bottom: 0;
      margin-top: 0;
    }
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo, sans-serif;
    font-weight: normal;
    line-height: 1.4;
    margin: 1.35em 0 0.7em;
  }
  h1 + {
    ol, p, ul {
      margin-top: 0;
    }
  }
  h2 + {
    ol, p, ul {
      margin-top: 0;
    }
  }
  h3 + {
    ol, p, ul {
      margin-top: 0;
    }
  }
  h4 + {
    ol, p, ul {
      margin-top: 0;
    }
  }
  h5 + {
    ol, p, ul {
      margin-top: 0;
    }
  }
  h6 + {
    ol, p, ul {
      margin-top: 0;
    }
  }
  h1 {
    border-bottom: solid 3px #eee;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 12px;
    margin-top: 64px;
    padding-bottom: 8px;
    .emoji {
      width: 24px;
      height: 24px;
      vertical-align: top;
    }
    + h2 {
      margin-top: 24px;
    }
  }
  h2 {
    border-bottom: solid 1px #eee;
    font-size: 22px;
    line-height: 1.225;
    margin-bottom: 12px;
    margin-top: 64px;
    padding-bottom: 8px;
    .emoji {
      width: 22px;
      height: 22px;
      vertical-align: top;
    }
    + h3 {
      margin-top: 24px;
    }
  }
  h3 {
    font-size: 20px;
    line-height: 1.43;
    margin-top: 64px;
  }
  h4 {
    font-size: 18px;
    margin-top: 1.3em;
  }
  h5 {
    margin-top: 1.5em;
    font-size: 17px;
  }
  h6 {
    margin-top: 1.5em;
    font-size: 16px;
    color: #777;
  }
  .code-frame {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    margin: 1em 0;
    background-color: #f7f7f7;
    line-height: 0;
    pre {
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
      border: 0;
      margin: 0;
      padding: 8px 15px;
      line-height: 18px;
      background-color: #f7f7f7;
      font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
      overflow-x: scroll;
      word-wrap: normal;
      white-space: pre;
    }
  }
  .code-lang {
    color: #555;
    display: inline-block;
    padding: 3px 6px;
    margin: 0;
    line-height: 1;
    background-color: rgba(0, 0, 0, 0.07);
    font-size: 12px;
    font-weight: 400;
  }
  .emoji {
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
  }
  .fa.fa-link, .icon-link {
    display: none;
    position: absolute;
    top: 50%;
    left: -28px;
    margin-top: -18px;
    padding: 10px 5px 10px 10px;
    color: #555;
    font-size: 16px;
    font-weight: 400;
  }
  .footnotes {
    font-size: .9em;
    margin-top: 2em;
    hr {
      display: none;
    }
  }
  .fragment {
    position: relative;
    top: -10px;
    display: block;
  }
  .highlight {
    background: #fff;
    .c {
      color: #998;
      font-style: italic;
    }
    .err {
      color: #a61717;
      background-color: #e3d2d2;
    }
    .k, .o {
      font-weight: bold;
    }
    .cm {
      color: #998;
      font-style: italic;
    }
    .cp {
      color: #999;
      font-weight: bold;
    }
    .c1 {
      color: #998;
      font-style: italic;
    }
    .cs {
      color: #999;
      font-weight: bold;
      font-style: italic;
    }
    .gd {
      color: #000;
      background-color: #fdd;
      .x {
        color: #000;
        background-color: #faa;
      }
    }
    .ge {
      font-style: italic;
    }
    .gr {
      color: #a00;
    }
    .gh {
      color: #999;
    }
    .gi {
      color: #000;
      background-color: #dfd;
      .x {
        color: #000;
        background-color: #afa;
      }
    }
    .go {
      color: #888;
    }
    .gp {
      color: #555;
    }
    .gs {
      font-weight: bold;
    }
    .gu {
      color: #800080;
      font-weight: bold;
    }
    .gt {
      color: #a00;
    }
    .kc, .kd, .kn, .kp, .kr {
      font-weight: bold;
    }
    .kt {
      color: #458;
      font-weight: bold;
    }
    .m {
      color: #099;
    }
    .s {
      color: #d14;
    }
    .n {
      color: #333;
    }
    .na {
      color: #008080;
    }
    .nb {
      color: #0086b3;
    }
    .nc {
      color: #458;
      font-weight: bold;
    }
    .no {
      color: #008080;
    }
    .ni {
      color: #800080;
    }
    .ne, .nf {
      color: #900;
      font-weight: bold;
    }
    .nn {
      color: #555;
    }
    .nt {
      color: #000080;
    }
    .nv {
      color: #008080;
    }
    .ow {
      font-weight: bold;
    }
    .w {
      color: #bbb;
    }
    .mf, .mh, .mi, .mo {
      color: #099;
    }
    .sb, .sc, .sd, .s2, .se, .sh, .si, .sx {
      color: #d14;
    }
    .sr {
      color: #009926;
    }
    .s1 {
      color: #d14;
    }
    .ss {
      color: #990073;
    }
    .bp {
      color: #999;
    }
    .vc, .vg, .vi {
      color: #008080;
    }
    .il {
      color: #099;
    }
    .gc {
      color: #999;
      background-color: #eaf2f5;
    }
  }
  .MathJax img, .MathJax_Display img {
    border: 0 !important;
  }
  .parenthesis li {
    list-style-type: none;
    span {
      margin-left: -1.5em;
      margin-right: 0.5em;
    }
  }
  .task-list-item {
    list-style-type: none;
  }
  .task-list-item-checkbox {
    margin: 0.4em 0.5em 0 -1.3em;
    &[disabled] {
      cursor: default;
    }
  }
  .user-icon, .coeditors-icon, .project-icon {
    width: 18px;
    height: 18px;
    border-radius: 2px;
    margin-right: .3em;
    text-align: center;
    vertical-align: text-bottom;
  }
  .coeditors-icon {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    width: 18px;
    height: 18px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    background-color: #e8f9ee !important;
    border: 0 solid #35c669 !important;
    overflow: hidden;
    text-align: center;
    font-size: 13.5px;
    line-height: 13.5px;
    color: #35c669 !important;
    &:before {
      content: "";
      display: inline-block;
      margin-top: 5.4px;
    }
  }
  .project-icon {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #999;
    font-size: 15px;
    &:before {
      content: "";
    }
  }
}

@media (max-width: 767px) {
  .markdown-body p {
    line-height: 1.6;
  }
}

@media (max-width: 767px) {
  .markdown-body {
    ol, ul {
      line-height: 1.6;
    }
  }
}
